/*----------------------------------------------------------------------------------------------------------------------
 * Evidence Engine: A system for managing evidence on arbitrary scientific topics.
 * Comprises an SQL database, GraphQL public API, Java app server, Java and web clients.
 * Copyright © 2024-26 Adrian Price. All rights reserved.
 *
 * This file is part of Evidence Engine.
 *
 * Evidence Engine is free software: you can redistribute it and/or modify it under the terms of the
 * GNU Affero General Public License as published by the Free Software Foundation, either version 3 of the License,
 * or (at your option) any later version.
 *
 * Evidence Engine is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY;
 * without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
 * See the GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License along with Evidence Engine.
 * If not, see <https://www.gnu.org/licenses/>. 
 *--------------------------------------------------------------------------------------------------------------------*/

@import "tailwindcss";
@tailwind utilities;

input[type='number'] {
  -moz-appearance: textfield;
  appearance: textfield;
}

input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.react-dropdown-tree-select {
  width: calc(var(--spacing) * 120);
}

.ee .dropdown-trigger {
  border-style: var(--tw-border-style) !important;
  border-radius: var(--radius-md) !important;
  border-color: var(--border) !important;
  border-width: 1px !important;
  width: fit-content
}

.ee.react-dropdown-tree-select .dropdown .dropdown-trigger.arrow.bottom::after {
  content:url(/chevron-down.svg);
  display:inline-block;
  width: calc(var(--spacing) * 4) !important;
  height: calc(var(--spacing) * 4) !important;
  margin-right:2px !important;
}

.ee.react-dropdown-tree-select .dropdown .dropdown-trigger.arrow.top::after {
  content:url(/chevron-up.svg);
  display:inline-block;
  width: calc(var(--spacing) * 4) !important;
  height: calc(var(--spacing) * 4) !important;
  margin-right:2px !important;
}

.ee.react-dropdown-tree-select .toggle.collapsed:after{
  content:url(/chevron-down.svg);
  display:inline-block;
  width: calc(var(--spacing) * 4) !important;
  height: calc(var(--spacing) * 4) !important;
}

.ee.react-dropdown-tree-select .toggle.expanded:after{
  content:url(/chevron-up.svg);
  display:inline-block;
  width: calc(var(--spacing) * 4) !important;
  height: calc(var(--spacing) * 4) !important;
}

.ee .dropdown {
  width: fit-content
}

.resizer {
  position: absolute;
  top: 0; 
  width: 5px;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  cursor: col-resize;
  user-select: none;
  touch-action: none;
}

.resizer.ltr {
  right: 0;
}

.resizer.rtl {
  left: 0;
}

.resizer.isResizing {
  background: blue;
  opacity: 1;
}

@media (hover: hover) {
  .resizer {
    opacity: 0;
  }

  *:hover > .resizer {
    opacity: 1;
  }
}

@keyframes pulse-bg {
  from {background-color: white;}
  to {background-color: var(--color-sky-200);}
}

.animation-pulse-bg {
  animation-name: pulse-bg;
  animation-duration: 0.2s;
  animation-iteration-count: 10;
  animation-direction: alternate;
}

.wrap-col {
  white-space: normal !important;
  overflow-wrap: anywhere;
}
